<div class="clock-picker">
  <div class="clock-header">
    {{ hour.toString().padStart(2, '0') }}:
    {{ minute.toString().padStart(2, '0') }}
  </div>

  @if (mode === 'hour') {
    <div class="clock">
      @for (hour of hours; track hour) {
        <button
          type="button"
          class="clock-number"
          [style.left.%]="getPosition(hour).x"
          [style.top.%]="getPosition(hour).y"
          (click)="selectHour(hour)"
        >
          {{ hour }}
        </button>
      }
    </div>
  } @else {
    <div class="clock">
      @for (mn of minutes; track mn) {
        <button
          class="clock-number"
          [style.left.%]="getMinutePosition(mn).x"
          [style.top.%]="getMinutePosition(mn).y"
          (click)="selectMinute(mn)"
        >
          {{ mn }}
        </button>
      }
    </div>
  }
</div>
