<nav
  class="navbar navbar-light bg-light border-bottom px-3 d-flex align-items-center justify-content-between w-100"
>
  <!-- LEFT -->
  <div class="d-flex align-items-center gap-2">
    <!-- SIDEBAR TOGGLE -->
    <button class="btn btn-outline-primary border-0 btn-sm" (click)="onToggleSidebar()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>

  <!-- CENTER -->
  <div class="flex-grow-1 d-none d-md-flex justify-content-center">
  </div>

  <!-- RIGHT -->
  <div class="d-flex align-items-center gap-3">

    <!-- USER -->
    <div class="dropdown">
      <button class="btn btn-sm btn-light d-flex align-items-center gap-2" data-bs-toggle="dropdown">
        <i class="fa-solid fa-circle-user"></i>

        <span class="d-none d-md-inline">
          {{ user?.prenom }}
        </span>
      </button>

      <ul class="dropdown-menu dropdown-menu-end">
        <li class="dropdown-item">👤 {{ user?.email }}</li>

        <li class="dropdown-item">
          Role:
          <span class="badge bg-primary ms-1">
            {{ user?.role }}
          </span>
        </li>

        <li><hr class="dropdown-divider" /></li>

        <li class="dropdown-item">Profil</li>
        <li class="dropdown-item">Paramètres</li>

        <li><hr class="dropdown-divider" /></li>

        <li class="dropdown-item text-danger" (click)="onLogout()">Logout</li>
      </ul>
    </div>
  </div>
</nav>
