<app-page-header
  title="Transfert stock prestation"
  subtitle="Gestion des Ttransfert stock prestation"
  icon="fa-solid fa-boxes-stacked"
>
  <button class="btn btn-primary d-flex align-items-center gap-2 px-3" type="button">
    <i class="fa-solid fa-plus"></i>
  </button>
</app-page-header>

<app-reservation-calendar [events]="events" (reservationClick)="openReservationDetail($event)">
</app-reservation-calendar>

@if (selectedReservation) {
  <app-reservation-detail-modal
    [reservation]="selectedReservation"
    (close)="selectedReservation = null"
    (statusChange)="updateStatus($event)"
  >
  </app-reservation-detail-modal>
}

<app-modal size="xl" title="Produits utilisés" [show]="showConsumptionModal" (closed)="showConsumptionModal = false">
  <app-reservation-consumption [reservation]="selectedConsumptionReservation" (confirmed)="confirmConsumption($event)">
  </app-reservation-consumption>
</app-modal>
