<div [formGroup]="form" class="row g-3">
  <!-- DATE -->

  <div class="col-md-6">
    <label class="form-label">
      {{ dateLabel }}
    </label>

    <div class="input-group">
      <span class="input-group-text">
        <i class="fa-solid fa-calendar"></i>
      </span>

      <input
        #dateInput
        type="text"
        class="form-control"
        placeholder="Choisir une date"
      />
    </div>
  </div>

  <!-- HEURE -->
  <div class="col-md-6">
    <label class="form-label">
      {{ timeLabel }}
    </label>

    <div class="time-picker-container">
      <div class="input-group">
        <span class="input-group-text">
          <i class="fa-solid fa-clock"></i>
        </span>

        <input
          class="form-control"
          readonly
          [value]="form.get(timeControl)?.value"
          placeholder="Choisir une heure"
          (click)="toggleClock()"
        />
      </div>

      @if (isClockOpen) {
        <div class="clock-overlay">
          <app-time-clock-picker [value]="form.get(timeControl)?.value" (valueChange)="setTime($event)">
          </app-time-clock-picker>
        </div>
      }
    </div>
  </div>
</div>
