<div class="row g-3">
  @for (produit of produits; track produit.id) {
    <div class="col-md-4">
      <div class="card h-100 product-card" (click)="add.emit(produit)">
        <div class="card-body">
          <h6 class="fw-bold">
            {{ produit.nom }}
          </h6>

          <div class="mt-2">
            Stock :

            <span class="badge bg-success">
              {{ produit.stock }}
              <small class="">
                {{ produit.unites }}
              </small>
            </span>
          </div>
        </div>
      </div>
    </div>
  }
</div>
