<div class="card shadow-sm border-0">
  <div class="table-responsive">
    <table class="table table-hover align-middle mb-0">
      <thead class="table-primary">
        <tr>
          @for (column of columns; track column.field) {
            <th (click)="sort(column.field)" style="cursor: pointer">
              {{ column.label }}
              @if (sortField === column.field) {
                <i class="fa ms-2" [ngClass]="sortDirection === 'asc' ? 'fa-sort-up' : 'fa-sort-down'"> </i>
              }
            </th>
          }
          <th width="130">Actions</th>
        </tr>
      </thead>

      <tbody>
        @if (loading) {
          <tr>
            <td [attr.colspan]="columns.length + 1" class="text-center py-5">
              <div class="spinner-border text-primary"></div>
            </td>
          </tr>
        } @else if (data.length === 0) {
          <tr>
            <td [attr.colspan]="columns.length + 1" class="text-center py-5 text-muted">
              <i class="fa-solid fa-folder-open fs-3"></i>
              <br />
              Aucune donnée
            </td>
          </tr>
        } @else {
          @for (row of displayedData; track row.id) {
            <tr>
              @for (col of columns; track col.field) {
                <td>
                  @if (col.type === 'badge') {
                    <span class="badge bg-primary">
                      {{ getValue(row, col.field) }}
                    </span>
                  } @else if (col.type === 'currency') {
                    {{ getValue(row, col.field) | currency: 'Ar' }}
                  } @else if (col.type === 'timemn') {
                    {{ getValue(row, col.field) }} mn
                  } @else if (col.type === 'timehr') {
                    {{ getValue(row, col.field) }} h
                  } @else if (col.type === 'color') {
                    <div
                      class="rounded-circle border"
                      style="width: 20px; height: 20px"
                      [style.background]="getValue(row, col.field)"
                      [title]="getValue(row, col.field)"
                    ></div>
                  } @else {
                    {{ getValue(row, col.field) }}
                  }
                </td>
              }

              <td class="text-end">
                <div class="btn-group btn-group-sm">
                  <!-- <button class="btn btn-outline-info" (click)="view.emit(row)" title="Voir">
                    <i class="fa-solid fa-eye"></i>
                  </button> -->

                  <button class="btn btn-outline-warning" (click)="edit.emit(row)" title="Modifier">
                    <i class="fa-solid fa-pen"></i>
                  </button>

                  <button class="btn btn-outline-danger" (click)="delete.emit(row.id)" title="Supprimer">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  <!-- PAGINATION

  @if (totalPages > 1) {
    <nav class="p-3">
      <ul class="pagination justify-content-end mb-0">
        @for (page of getPages(); track page) {
          <li class="page-item" [class.active]="page === page">
            <button class="page-link" (click)="changePage(page)">
              {{ page }}
            </button>
          </li>
        }
      </ul>
    </nav>
  } -->
</div>
