<app-page-header title="Caisses" subtitle="Gestion de la caisse journalière" icon="fa-solid fa-cash-register"></app-page-header>

@if (cashNow) {
  <div class="row g-3">
    <!-- =====================
       CAISSE ACTUELLE
  ====================== -->

    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-header fw-bold text-white" [class.bg-success]="isOpen()" [class.bg-danger]="!isOpen()">
          <div class="d-flex justify-content-between align-items-center">
            <span>CAISSE ACTUELLE</span>

            <span class="badge bg-light text-dark">
              {{ statusLabel(cashNow.status) }}
            </span>
          </div>
        </div>

        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <span>Date ouverture</span>

            <strong>
              {{ cashNow.openedAt | date: 'dd/MM/yyyy' }}
            </strong>
          </div>

          <div class="d-flex justify-content-between mb-3">
            <span>Heure ouverture</span>

            <strong>
              {{ cashNow.openedAt | date: 'HH:mm' }}
            </strong>
          </div>

          <div class="d-flex justify-content-between mb-3">
            <span>Fond initial</span>

            <strong>
              {{ cashNow.openingBalance | currency: 'Ar' : 'symbol' : '1.0-0' }}
            </strong>
          </div>

          <hr />

          <div class="d-flex justify-content-between mb-3">
            <span>Total encaissé</span>

            <strong class="text-success">
              {{ cash?.totalEncaissement | currency: 'Ar' : 'symbol' : '1.0-0' }}
            </strong>
          </div>

          <div class="d-flex justify-content-between mb-3">
            <span>Solde théorique</span>

            <strong>
              {{ cash?.soldeTheorique | currency: 'Ar' : 'symbol' : '1.0-0' }}
            </strong>
          </div>

          <div class="d-flex justify-content-between">
            <span>Décaissements</span>

            <strong class="text-danger">
              {{ cash?.cashout | currency: 'Ar' : 'symbol' : '1.0-0' }}
            </strong>
          </div>
        </div>

        @if (isOpen()) {
          <div class="card-footer">
            <button class="btn btn-success w-100 mb-2" (click)="addMoney()">
              <i class="fa-solid fa-plus"></i>

              Entrée d'argent
            </button>

            <button class="btn btn-danger w-100" (click)="removeMoney()">
              <i class="fa-solid fa-minus"></i>

              Décaissement
            </button>
          </div>
        }
      </div>
      <div class="row g-2 mt-3">
        <div class="col-md-6">
          <app-kpi-card
            title="Espèces"
            [value]="cash?.kpi?.espece?.montant | currency: 'Ar' : 'symbol' : '1.0-0'"
            icon="fa-solid fa-money-bill"
            color="success"></app-kpi-card>
        </div>

        <div class="col-md-6">
          <app-kpi-card
            title="Mobile Money"
            [value]="cash?.kpi?.mobileMoney?.montant | currency: 'Ar' : 'symbol' : '1.0-0'"
            icon="fa-solid fa-mobile"
            color="warning"></app-kpi-card>
        </div>

        <div class="col-md-6">
          <app-kpi-card
            title="Entrées"
            [value]="cash?.kpi?.entree?.montant | currency: 'Ar' : 'symbol' : '1.0-0'"
            icon="fa-solid fa-arrow-down"
            color="info"></app-kpi-card>
        </div>

        <div class="col-md-6">
          <app-kpi-card
            title="Sorties"
            [value]="cash?.kpi?.sortie?.montant | currency: 'Ar' : 'symbol' : '1.0-0'"
            icon="fa-solid fa-arrow-up"
            color="danger"></app-kpi-card>
        </div>
      </div>
    </div>

    <!-- =====================
       ACTIONS
  ====================== -->

    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header fw-bold">ACTIONS</div>

        <div class="card-body">
          @if (!isOpen()) {
            <button class="btn btn-success btn-lg w-100 mb-3" (click)="openSession()">
              <i class="fa-solid fa-door-open"></i>

              OUVRIR LA SESSION
            </button>
          } @else {
            <button class="btn btn-danger btn-lg w-100 mb-3" (click)="closeSession()">
              <i class="fa-solid fa-door-closed"></i>

              CLOTURER LA SESSION
            </button>
          }

          <!-- <button class="btn btn-info btn-lg w-100">
            <i class="fa-solid fa-chart-line"></i>

            RAPPORT SESSION
          </button> -->
        </div>
      </div>

      <!-- JOURNAL -->

      <div class="card shadow-sm mt-3">
        <div class="card-header fw-bold">
          <div class="d-flex justify-content-between align-items-center">
            <div>JOURNAL DE CAISSE</div>
            <!-- Recherche -->
            <div class="search-wrapper">
              <app-search-bar (searchChange)="search($event)"></app-search-bar>
            </div>
          </div>
        </div>

        <div class="card-body">
          <app-cash-movement-list
            [cashRegisterId]="cashNow.id"
            [search]="searchValue"
            [page]="page"
            [limit]="limit"
            [refresh]="refreshMovements"></app-cash-movement-list>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="alert alert-warning">
    <i class="fa-solid fa-triangle-exclamation"></i>

    Aucune session caisse ouverte.
  </div>

  <button class="btn btn-success" (click)="createSession()">Créer une nouvelle session</button>
}

<app-modal title="{{ movementType === 'REFUND' ? 'Entrée de caisse' : 'Décaissement' }}" size="md" [show]="showMovementModal" (closed)="closeMovement()">
  <app-cash-movement-form
    [cashRegisterId]="cashNow ? cashNow.id : 0"
    [type]="movementType"
    (saved)="closeMovement(); loadDetails(cashNow ? cashNow.id : 0); reloadMovements()"
    (cancel)="closeMovement()" />
</app-modal>
