<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="mb-3">
    <label class="form-label"> Nom * </label>

    <input class="form-control" formControlName="nom" />

    @if (form.controls.nom.invalid && form.controls.nom.touched) {
      <div class="text-danger">Nom obligatoire</div>
    }
  </div>

  <div class="mb-3">
    <label class="form-label"> Type de prestation * </label>

    <select class="form-select" formControlName="typePrestationId">
      <option [ngValue]="null">Sélectionner un type</option>

      <!-- @for (type of typesPrestations; track type.id) {
        <option [value]="type.id">
          {{ type.nom }}
        </option>
      } -->
    </select>

    @if (form.controls.typePrestationId.invalid && form.controls.typePrestationId.touched) {
      <div class="text-danger">Type obligatoire</div>
    }
  </div>

  <div class="mb-3">
    <label class="form-label"> Description </label>

    <textarea class="form-control" rows="3" formControlName="description"> </textarea>
  </div>

  <div class="mb-3">
    <label class="form-label"> Durée (minutes) * </label>

    <input type="number" class="form-control" formControlName="duree" />

    @if (form.controls.duree.invalid && form.controls.duree.touched) {
      <div class="text-danger">Durée invalide</div>
    }
  </div>

  <div class="mb-3">
    <label class="form-label"> Prix * </label>

    <input type="number" class="form-control" formControlName="prix" />

    @if (form.controls.prix.invalid && form.controls.prix.touched) {
      <div class="text-danger">Prix invalide</div>
    }
  </div>

  <div class="mb-3">
    <label class="form-label"> Couleur agenda </label>

    <input type="color" class="form-control form-control-color" formControlName="couleur" />
  </div>

  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" formControlName="actif" id="actif" />

    <label class="form-check-label" for="actif"> Prestation active </label>
  </div>

  <div class="text-end">
    <button type="submit" class="btn btn-primary" [disabled]="loading">
      @if (loading) {
        <span> Enregistrement... </span>
      } @else {
        <span> Enregistrer </span>
      }
    </button>
  </div>
</form>
