<div [formGroup]="form" class="row g-3">
  <!-- ORIGINE -->
  <div class="col-md-4">
    <label class="form-label"> Origine </label>

    <div class="btn-group w-100">
      <button
        type="button"
        class="btn"
        [class.btn-primary]="form.value.origine === 'RENDEZ_VOUS'"
        [class.btn-outline-primary]="form.value.origine !== 'RENDEZ_VOUS'"
        (click)="form.patchValue({ origine: 'RENDEZ_VOUS' })"
      >
        📅 RDV
      </button>

      <button
        type="button"
        class="btn"
        [class.btn-primary]="form.value.origine === 'SANS_RDV'"
        [class.btn-outline-primary]="form.value.origine !== 'SANS_RDV'"
        (click)="form.patchValue({ origine: 'SANS_RDV' })"
      >
        ⚡ Sans RDV
      </button>
    </div>
  </div>

  <!-- CLIENT -->

  <div class="col-md-8">
    <label class="form-label"> Client </label>

    <!-- <div
      class="form-control d-flex justify-content-between align-items-center"
      role="button"
      (click)="openClientModal()"
    >
      <span>
        {{ selectedClient?.nom || 'Sélectionner un client' }}
      </span>

      <i class="fa fa-search"></i>
    </div> -->
  </div>

  <ng-content></ng-content>

  <!-- DATE - HEURE -->

  <!-- <div class="col-md-4">
    <label class="form-label"> Date </label>
    <input type="date" class="form-control" formControlName="dateDebut" (change)="resetPersonnelSelection()" />
  </div>

  <div class="col-md-4">
    <label class="form-label"> Heure </label>
    <input type="time" class="form-control" formControlName="heureDebut" (change)="resetPersonnelSelection()" />
  </div> -->

  <app-date-time-field [form]="form" timePickerMode="clock" [allowPast]="false"> </app-date-time-field>

  <!-- PERSONNEL -->

  <div class="col-md-12">
    <label class="form-label fw-semibold"> Personnel </label>

    <div class="d-flex align-items-center gap-2 flex-wrap">
      <!-- Bouton ajout -->
      <button
        type="button"
        class="btn btn-outline-primary"
        [disabled]="!canSelectPersonnel"
        (click)="openPersonnelModal()"
      >
        <i class="fa-solid fa-plus"></i>
        Ajouter personnel
      </button>

      <!-- Personnel sélectionnés -->

      @for (personnel of selectedPersonnel; track personnel.id) {
        <button type="button" class="btn btn-primary position-relative">
          <span> {{ personnel.nom }} {{ personnel.prenom }} </span>
          <span
            class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
            (click)="removePersonnel(personnel.id)"
            title="Supprimer"
          >
          </span>
        </button>
      }

      @if (!selectedPersonnel.length) {
        <span class="text-muted small"> Aucun personnel sélectionné </span>
      }
    </div>
  </div>
</div>

<app-modal size="md" title="Sélection personnel" [show]="showPersonnelModal" (closed)="closePersonnelModal()">
  <app-selector-form
    title="Personnel disponible"
    [items]="personnels"
    type="checkbox"
    [limit]="10"
    [(selected)]="selectedPersonnelIds"
  >
    <ng-template let-item>
      <div class="fw-semibold">{{ item.prenom }}</div>
      <small class="">
        @for (prestation of item.prestations; track prestation.id) {
          + {{ prestation.nom }} <br />
        }
      </small>
    </ng-template>
  </app-selector-form>

  <div modal-footer class="mt-1">
    <button type="button" class="btn btn-sm btn-secondary m-1" (click)="closePersonnelModal()">Annuler</button>
    <button type="button" class="btn btn-sm btn-primary m-1" (click)="validatePersonnel()">Valider</button>
  </div>
</app-modal>
